/* Style du bouton de retour vers le haut */
.scroll-top-btn {
  position: fixed; /* Position fixe */
  bottom: 20px; /* Distance par rapport au bas de la fenêtre */
  right: 20px; /* Distance par rapport à la droite de la fenêtre */
  background-color: #5cb85c; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 50%; /* Coins arrondis pour rendre le bouton rond */
  width: 50px; /* Largeur du bouton */
  height: 50px; /* Hauteur du bouton */
  cursor: pointer; /* Curseur au survol */
  display: flex; /* Utiliser un affichage flex pour centrer l'icône */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

/* Style de l'icône du bouton de retour vers le haut */
.scroll-top-icon {
  width: 30px; /* Largeur de l'icône */
  height: auto; /* Hauteur automatique pour conserver les proportions */
}
