/* Réinitialisation des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style du corps de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Couleur de fond */
}

/* Style du conteneur principal */
.container {
  max-width: 600px; /* Largeur maximale du conteneur */
  margin: 50px auto; /* Marge extérieure pour centrer le conteneur */
  padding: 20px;
  background-color: #fff; /* Couleur de fond du conteneur */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Style du titre principal */
h1 {
  text-align: center; /* Centrage du texte */
  margin-bottom: 20px; /* Marge basse pour séparer du formulaire */
  font-weight: bold; /* Texte en gras */
}

/* Style des étiquettes des champs de formulaire */
label {
  font-weight: bold; /* Texte en gras */
}

/* Style des champs de formulaire */
select,
input[type="text"],
button {
  width: 100%; /* Largeur pleine */
  padding: 10px; /* Remplissage intérieur */
  margin-bottom: 15px; /* Marge basse */
  box-sizing: border-box; /* Taille inclut les bordures et le remplissage */
}

/* Style des boutons */
button {
  background-color: #5cb85c; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur au survol */
}

/* Style du survol des boutons */
button:hover {
  background-color: #45a049; /* Couleur de fond au survol */
}

/* Style de la notification */
.notification {
  color: red; /* Couleur du texte */
  font-style: italic; /* Texte en italique */
  text-align: center; /* Centrage du texte */
}

/* Style de l'image de l'attestation */
.attestation img {
  max-width: 100%; /* Largeur maximale de l'image */
  height: auto; /* Hauteur automatique pour conserver les proportions */
}

/* Style du titre du programme de formation */
.formation-program h2,
.attestation-title {
  text-align: left; /* Alignement à gauche */
  margin-left: -20px; /* Marge négative pour compenser la marge du conteneur */
  margin-right: -20px; /* Marge négative pour compenser la marge du conteneur */
  padding: 10px; /* Remplissage intérieur */
  background-color: #f4f4f4; /* Couleur de fond */
}

/* Style du bouton de retour vers le haut */
#scroll-top-btn {
  position: fixed; /* Position fixe */
  bottom: 20px; /* Distance par rapport au bas de l'écran */
  right: 20px; /* Distance par rapport à la droite de l'écran */
  background-color: transparent; /* Fond transparent */
  border: none; /* Pas de bordure */
  width: 50px; /* Largeur du bouton */
  height: 50px; /* Hauteur du bouton */
  cursor: pointer; /* Curseur au survol */
  background-image: url('Vers le haut.png'); /* Image de fond */
  background-size: cover; /* Redimensionner l'image pour remplir complètement le bouton */
}

/* Style du survol du bouton de retour vers le haut */
#scroll-top-btn:hover {
  filter: brightness(90%); /* Assombrir légèrement au survol */
}


/* Style de la section "Choix du prix" */
#price-section {
  margin-bottom: 20px; /* Ajoute une marge basse de 20 pixels */
}
