/* Style de l'image de l'attestation */
.attestation img {
  max-width: 100%; /* Largeur maximale de l'image */
  height: auto; /* Hauteur automatique pour conserver les proportions */
  display: block; /* Empêche l'image de déborder de son conteneur */
  margin: 0 auto; /* Centre l'image horizontalement */
}

/* Style de la section "Choix du prix" */
#price-section {
  margin-bottom: 20px; /* Ajoute une marge basse de 20 pixels */
}

/* Style de la section des moyens de paiement */
.payment-options {
  margin-top: 20px; /* Ajoute une marge haute de 20 pixels */
}

/* Style de chaque option de paiement */
.payment-option {
  margin-bottom: 10px; /* Ajoute une marge basse de 10 pixels entre chaque option */
}

/* Style du bouton de retour vers le haut */
.scroll-top-btn {
  position: fixed; /* Position fixe */
  bottom: 20px; /* Distance par rapport au bas de la fenêtre */
  right: 20px; /* Distance par rapport à la droite de la fenêtre */
  background-color: #5cb85c; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 50%; /* Coins arrondis pour rendre le bouton rond */
  width: 50px; /* Largeur du bouton */
  height: 50px; /* Hauteur du bouton */
  cursor: pointer; /* Curseur au survol */
  display: flex; /* Utiliser un affichage flex pour centrer l'icône */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

/* Style de l'icône du bouton de retour vers le haut */
.scroll-top-icon {
  width: 30px; /* Largeur de l'icône */
  height: auto; /* Hauteur automatique pour conserver les proportions */
}
